// variable
$red : #ea1d2a;
$orange : #ffc300;
$fontColor : #666;
$footerColor : #626262;
$bgGray : #f3f3f3;

$alertHeader-bg-color : #d6c28a;

$btnGray :  linear-gradient(0deg ,rgb(109, 109, 109)  0% ,#cecece 100%);
$btnRed : linear-gradient(0deg ,#dd171e   0% ,#f85258 100%);
$btnYellow : linear-gradient(0deg ,#ddac17   0% ,#f8bf52 100%);

$navHeight : 60px ;
$menuBarHeight : 100px ;
$footerHeight : 48px ;
$alertWidth : 300px;


@mixin popHeader() {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
    background-color: $alertHeader-bg-color;
    padding: 13px 16px;
}

@media screen and ( max-width:991px ){
    body{
        min-width: 992px !important;
    }
    .container {
        max-width: 100%;
    }
}

.p-y-5{
    padding-top:5px;
    padding-bottom:5px;
}

.font-12{
    font-size: 12px;
}
.font-14{
    font-size: 14px;
}
.font-15{
    font-size: 15px;
}

// focus
.form-control:focus,
.dropdown-toggle:focus,
.btn.focus,
.btn:focus,
.swal-button:focus{
    box-shadow:none !important;
}

// login
.signIn-page{
    height: calc( 100vh - #{$footerHeight} - #{$navHeight} - 5px );
    background-color: $bgGray;
    margin-top:5px;
    .card{
        box-shadow:  0px 1px 10px rgba(0, 0, 0, 0.3);
        width: $alertWidth;
        .card-header{
            @include popHeader();
        }
        .card-body{
            padding: 1.25rem 40px ;
        }
        .card-footer{
            padding: .75rem 40px;
            button{
                width: 80px;
            }
        }
    }
}

.nav-header{ 
    background-color: $red;
    box-shadow: 0px 5px $orange;
    height:$navHeight;

    .nav-box{
        padding: 10px 0; 
        color:#fff;

        .logo{
            width: 150px;
        }

        a{
            color:#fff;
            text-decoration: none;
        }

        .signStatus{
            margin-bottom:0;

            img{
                width: 25px;
            }
            .mem-name{
                font-size: 14px;
                vertical-align: bottom;
            }
            // .signIn{
            //     &:hover .signIn-arrow{
            //         animation: signInAni .5s linear infinite both;
            //     }
            // }
            // .signOut{
            //     &:hover .signOut-arrow{
            //         animation: signOutAni .5s linear infinite both;
            //     }
            // }
        }


        .member{
            &:hover{
                .account-list{
                    display: block;
                }
            }
        }
        .account-list{
            position: absolute;
            z-index: 2000;
            padding: 0;
            background-color: transparent;
            border-radius: .25rem;
            box-shadow:  0px 5px 5px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            display: none;
            .list-group-item{
                border:none;
                a{
                    display: block;
                    padding: .25rem 1.5rem;
                    color:#888;
                    &:hover{
                        background-color: #f9f6ee;
                        color: #ca2d37;
                    }
                }
            }
        }
    }
}
.step-menu{
    margin-top:5px;
    // background: linear-gradient(90deg ,rgba($red, 1) 0% , rgba($orange , 1) 100%);
    // background: linear-gradient(90deg ,rgba(254,215,216,1) 0% ,rgba(254,220,215,1) 50% ,rgba(255,244,211,1) 100%);
    height:$menuBarHeight;
    background: linear-gradient(45deg ,rgba($orange , 1) 0% , rgba($red, 1) 50% , rgba($orange , 1) 100%);
    background-size: 200% 200%;
    animation: navBg 20s ease infinite alternate;
    position: relative;
    .container{
        position: relative;
    }    
    &:before{
        content:'';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,.7);
    }
    .nav{
        .nav-item{
            &:nth-of-type(1){
                margin:auto;
                .menuList{
                    // svg{
                    //     width: 30px;
                    // }
                    img{
                        width: 30px;
                    }
                }
            }
            //邊界
            &:not(:first-child){
                position: relative;
            }

            a{
                color:$fontColor;
                border-radius: 0;
                border:none;
                transition:.5s;
            }
            a.active{
                box-shadow: 0px 5px $orange inset;
                color:$red;
            }
            a.nav-link:not(.menuList){                
                height: 100px;
                .step-area{
                    width: 120px;
                }
                svg{
                    width: 20px;
                    margin-right:5px; 
                }
                .step-title{
                    font-size: 18px;
                }
                .step-sub-title{
                    font-size: 12px;
                }

                &:hover{
                    box-shadow: 0px 5px $orange inset;
                    color:$red;
                    background-color: #fff;
                }
            }
        }
    } 
}

.step-content{
    height: auto;
    min-height: calc( 100vh - #{$navHeight} - #{$menuBarHeight} - #{$footerHeight} - 5px ) ;
    padding: 30px 0 ;
    // background-color: #ccc;

    .tab-pane.show{
        display: flex;
        .note{
            flex:280px;
            flex-shrink: 0;
            flex-grow: 0;
            padding-left : 15px;
            .card-header{
                background-color: #626262;
                color:#fff;
                padding: 0.85rem 1.25rem;
                font-size: 1rem;
            }  
            .card-body{
                padding:15px;
                word-break: break-word;
                .title{
                    font-weight: 400;
                    font-size: .9rem;
                }
                .blockquote{
                    p{
                        font-size: .8rem;
                    }
                    .blockquote-footer{
                        font-size: .7rem;
                    }   
                }
            }
        }
        .accordion{
            flex:1;
        }
        .step-process{
            flex:40px;
            flex-shrink: 0;
            flex-grow: 0;
            div[class^="step-process"]{ 
                .circle{
                    width: 20px;
                    height: 20px;
                    border-color:#9e9e9e !important;
                    border-width:3px !important;
                    background-color: #e4e4e2;
                    position: relative;
                    cursor: pointer;
                    transition: .2s;
                }
                .step-line{
                    width: 3px;
                    height: 30px;
                    background-color: #9e9e9e;
                    position: relative;
                    left: 8px;
                    transition: .2s;
                }
                &:last-child{
                    .step-line{
                        display: none;
                    }
                }
                &.actived{
                    .circle{
                        border-color:#ffc300 !important;
                        background-color: transparent;
                        &:after{
                            content: '';
                            display: block;
                            width: 10px;
                            height: 10px;
                            background-color: #ffc300;
                            border-radius: 50%;
                            position: absolute;
                            top:50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                        }
                    }
                    .step-line{
                        background-color: #ffc300;
                        height: 10px;
                    }
                }
                &.active{
                    .circle{
                        border-color:#ffc300 !important;
                        background-color: transparent;
                        &:after{
                            content: '';
                            display: block;
                            width: 10px;
                            height: 10px;
                            background-color: #ffc300;
                            border-radius: 50%;
                            position: absolute;
                            top:50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                        }
                    }
                    .step-line{
                        background-color: #ffc300;
                        height: 150px;
                    }
                }
            }
        }
    }
}
// 下拉式清單
.dropdown{
    .dropdown-toggle{
        border-color:#ccc;
        background-color: #f7f8fa;
        color:#000;
    }
    .dropdown-menu{
        padding:0;
        border: none;
        box-shadow:  0px 5px 5px rgba(0, 0, 0, 0.1);
        .dropdown-item{
            cursor: pointer;

            &.active,
            &:active{
                background-color: #f9f6ee;
                color:#ca2d37;
            }

            &:hover{
                background-color: #f9f6ee;
                color:#ca2d37;
            }
        }
    }
}
// 下來選單開啟
// #step-process-1-1{
//     .card-body{
//         min-height: 300px;
//     }
// }
// #step-process-4-1{
//     .card-body{
//         min-height: 300px;
//     }
//     .dropdown-menu{
//         position: relative !important;
//         transform: translate3d(0,0,0) !important;
//         margin-bottom: 15px;
//     }
// }

// 簽名欄位
.signature-box{
    .area{
        width: 100%;
        height: 100px;
        background-color: #fff;
        border: 3px solid #888;
    }
}

// check status 
.check-status{
    opacity: 0;
    transition: .2s;
    &.active{
        opacity: 1;
    }
}
.error-info{
   display: none;
}

// button
.btn-customer{
    width: 100px;
    background-color: #ccc;
}
.bgGary{
    background: $btnGray;
}
.btnRed{
    background: $btnRed;
}
.btnYellow{
    background: $btnYellow;
}

// collapse
.accordion{
    .card{
        border-radius: .25rem !important;
        overflow: hidden;
        border:none;
    }
    .card-header{
        padding: 0;
        background-color: transparent;
        border:none;
    }
    .card-body{
        background-color: $bgGray;
        input,
        textarea{
            border-color:transparent;
        }
    }
    button.btn-link{
        color:#000;
        background-color: #cdcec4;
        text-align: left;
        width: 100%;
        border-radius: initial;
    }   
    i.material-icons.arrow{
        transform: rotateZ(180deg);
        transition: transform .2s;
    }
    button.btn-link:not(.collapsed){
        background-color: #626262;
        color:#fff;
        i.material-icons.arrow{
            transform: rotateZ(0deg);
        }
    }
    .btn-link:hover,
    .btn-link:focus{
        text-decoration: none;
    }
}
//google icon 
.font-40{
    font-size: 40px;
}
i.material-icons.login{
    font-size: 18px;
    color: $alertHeader-bg-color;
}
i.material-icons.search{
    font-size: 18px;
    opacity: 0.3;
}
i.material-icons.options{
    font-size: 20px;
    color:#999;
}
i.material-icons.add{
    font-size: 20px;
}
// step 內 table
.table-customer{
    tbody{
        th{
            vertical-align: middle
        }
        td:last-child{
            vertical-align: middle
        }
        .optionRow{
            width: 50px;
        }
    }
}


// table page
.table-page{
    .dropdown{
        width: 240px;
    }
    .search-group{
        width: 500px;
    }
}
.table-content{
    .content-box{
        background-color: $bgGray;
        padding:30px 15px 80px;
        min-height: calc( 100vh - #{$navHeight} - #{$menuBarHeight} - #{$footerHeight} - 5px ) ;
    }
}
//datatable
.table{
    font-size: 12px;
    box-shadow: 0px  1px 5px rgba(0,0,0,.2);
    thead{
        background-color: #fff;
        th{
            position: relative;
            .border-line{
                display: block;
                width: 1px;
                height: 45%;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                background-color: rgba(0,0,0,.3);
            }
        }
    }
    tbody{
        tr.even{
            background-color: #fff;
        }
        tr.odd{
            background-color:rgba(241,250,254,1);
        }
        td{
            &:focus{
                outline: none!important;
            }
        }
    }
}
.bottom-page{
    .pagination{
        .page-item{
            &.active{
                .page-link{
                    background-color: #fff;
                    border-color:#dee2e6 ;
                    color:$red;
                }
            }
            .page-link{
                padding: .25rem .5rem;
                font-size: 12px;
                color:#999;
            }
        } 
    }
}


footer{
    background-color: $footerColor;
    color:#fff;
    font-size: 12px;
    padding: 15px 0;
    height: $footerHeight;
}

@keyframes navBg{
    0%{ background-position: 0% 50%}
    50%{ background-position: 100% 50%}
    100%{ background-position: 0% 50% }
}
@keyframes signInAni{
    0%{transform: translateX(0px);}
    50%{transform: translateX(2px);}
    100%{transform: translateX(0px);}
}
@keyframes signOutAni{
    0%{transform: translateX(0px);}
    50%{transform: translateX(-2px);}
    100%{transform: translateX(0px);}
}
//form 
label.form-check-label,
label.custom-control-label{
    font-size: 14px;
}

//input placeholder
input::placeholder{
    font-size: 14px;
}

// select 2
.select2-selection__rendered,
.select2-selection--multiple,
input.select2-search__field{
    background-color: #f7f8fa;
}
.select2-selection__rendered{
    li:first-child{
        &.select2-search--inline{
            width: 100%;
        }
        input.select2-search__field{
            width:100%!important;
        }
    }
}

.select2.select2-container.select2-container--bootstrap4{
    width: 100% !important;
}
.select2-dropdown{
    background-color: #fff;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    ul.select2-results__options{
        li[aria-selected=true],
        li.select2-results__option.select2-results__option--highlighted{
            background-color: #f9f6ee !important;
            color: #ca2d37 !important;
        }
        li[aria-disabled=true]{
            color:#ccc;
        }
    }
}

// sweet alert
.customer-swal{
    width: $alertWidth;
    overflow: hidden;
    .swal-title{
        @include popHeader();
    }
    .swal-text{
        font-size: 14px;
        text-align: center;
    }
    .swal-footer{
        display: flex;
        justify-content: center;
        .swal-button--confirm,
        .swal-button--cancel{
            background: $btnRed;
            padding: .25rem .5rem;
            font-size: .875rem;
            line-height: 1.5;
            border-radius: .2rem;
            width: 80px;
        }
        .swal-button--cancel{
            color:#fff;
            background: $btnGray;
        }
    }
}



// iwindow page
.step-menu-iwindow{
    margin-top:5px;
    height:$menuBarHeight;
    background-color: #e5e5e5;
    position: relative;
    .container{
        position: relative;
    }    
    .nav{
        .nav-item{
            &:nth-of-type(1){
                margin:auto;
                .menuList{
                    // svg{
                    //     width: 30px;
                    // }
                    img{
                        width: 30px;
                    }
                }
            }
            //邊界
            &:not(:first-child){
                position: relative;
            }

            a{
                color:$fontColor;
                border-radius: 0;
                border:none;
                transition:.5s;
            }
            a.active{
                box-shadow: 0px 5px $orange inset;
                color:$red;
            }
            a.nav-link:not(.menuList){                
                height: 100px;
                .step-area{
                    width: 120px;
                }
                svg{
                    width: 20px;
                    margin-right:5px; 
                }
                .step-title{
                    font-size: 18px;
                }
                .step-sub-title{
                    font-size: 12px;
                }

                &:hover{
                    box-shadow: 0px 5px $orange inset;
                    color:$red;
                    background-color: #fff;
                }
            }
        }
    } 
}
.step-content-iwindow{
    height: auto;
    min-height: calc( 100vh - #{$navHeight} - #{$menuBarHeight} - #{$footerHeight} - 5px ) ;
    // padding: 30px 0 ;
    padding-bottom:30px;
    // background-color: #ccc;

    .nav-tabs-level-2{
        li{
            a{
                color: #fff;
                background-color: #6c757d;
                &.active{
                    background-color: $orange;
                }
            }
        }
        li:not(:last-child){
            margin-right:5px; 
        }
    }

    .tab-pane.show{
        // display: flex;
        // flex-direction: column;
        // .accordion{
        //     flex:1;
        // }
    }
}
// iwindow page end



// salesCheck page
.step-area-salesCheck{
    width: 185px;
}
#initPremiumYesShow,
#supPremiumSelectSelf,
#occupationRadioNoShow,
#checkApprovalSecondShow{
    display: none;
}
.cus-list-type {
    .list-width{
        flex:30px;
        flex-shrink: 0;
        flex-grow: 0;
    }
}
// salesCheck page end