@media screen and (max-width: 991px) {
  body {
    min-width: 992px !important;
  }
  .container {
    max-width: 100%;
  }
}

.p-y-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-15 {
  font-size: 15px;
}

.form-control:focus,
.dropdown-toggle:focus,
.btn.focus,
.btn:focus,
.swal-button:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.signIn-page {
  height: calc( 100vh - 48px - 60px - 5px);
  background-color: #f3f3f3;
  margin-top: 5px;
}

.signIn-page .card {
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  width: 300px;
}

.signIn-page .card .card-header {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 18px;
  color: #fff;
  letter-spacing: 1px;
  background-color: #d6c28a;
  padding: 13px 16px;
}

.signIn-page .card .card-body {
  padding: 1.25rem 40px;
}

.signIn-page .card .card-footer {
  padding: .75rem 40px;
}

.signIn-page .card .card-footer button {
  width: 80px;
}

.nav-header {
  background-color: #ea1d2a;
  -webkit-box-shadow: 0px 5px #ffc300;
          box-shadow: 0px 5px #ffc300;
  height: 60px;
}

.nav-header .nav-box {
  padding: 10px 0;
  color: #fff;
}

.nav-header .nav-box .logo {
  width: 150px;
}

.nav-header .nav-box a {
  color: #fff;
  text-decoration: none;
}

.nav-header .nav-box .signStatus {
  margin-bottom: 0;
}

.nav-header .nav-box .signStatus img {
  width: 25px;
}

.nav-header .nav-box .signStatus .mem-name {
  font-size: 14px;
  vertical-align: bottom;
}

.nav-header .nav-box .member:hover .account-list {
  display: block;
}

.nav-header .nav-box .account-list {
  position: absolute;
  z-index: 2000;
  padding: 0;
  background-color: transparent;
  border-radius: .25rem;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: none;
}

.nav-header .nav-box .account-list .list-group-item {
  border: none;
}

.nav-header .nav-box .account-list .list-group-item a {
  display: block;
  padding: .25rem 1.5rem;
  color: #888;
}

.nav-header .nav-box .account-list .list-group-item a:hover {
  background-color: #f9f6ee;
  color: #ca2d37;
}

.step-menu {
  margin-top: 5px;
  height: 100px;
  background: linear-gradient(45deg, #ffc300 0%, #ea1d2a 50%, #ffc300 100%);
  background-size: 200% 200%;
  -webkit-animation: navBg 20s ease infinite alternate;
          animation: navBg 20s ease infinite alternate;
  position: relative;
}

.step-menu .container {
  position: relative;
}

.step-menu:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}

.step-menu .nav .nav-item:nth-of-type(1) {
  margin: auto;
}

.step-menu .nav .nav-item:nth-of-type(1) .menuList img {
  width: 30px;
}

.step-menu .nav .nav-item:not(:first-child) {
  position: relative;
}

.step-menu .nav .nav-item a {
  color: #666;
  border-radius: 0;
  border: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.step-menu .nav .nav-item a.active {
  -webkit-box-shadow: 0px 5px #ffc300 inset;
          box-shadow: 0px 5px #ffc300 inset;
  color: #ea1d2a;
}

.step-menu .nav .nav-item a.nav-link:not(.menuList) {
  height: 100px;
}

.step-menu .nav .nav-item a.nav-link:not(.menuList) .step-area {
  width: 120px;
}

.step-menu .nav .nav-item a.nav-link:not(.menuList) svg {
  width: 20px;
  margin-right: 5px;
}

.step-menu .nav .nav-item a.nav-link:not(.menuList) .step-title {
  font-size: 18px;
}

.step-menu .nav .nav-item a.nav-link:not(.menuList) .step-sub-title {
  font-size: 12px;
}

.step-menu .nav .nav-item a.nav-link:not(.menuList):hover {
  -webkit-box-shadow: 0px 5px #ffc300 inset;
          box-shadow: 0px 5px #ffc300 inset;
  color: #ea1d2a;
  background-color: #fff;
}

.step-content {
  height: auto;
  min-height: calc( 100vh - 60px - 100px - 48px - 5px);
  padding: 30px 0;
}

.step-content .tab-pane.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.step-content .tab-pane.show .note {
  -webkit-box-flex: 280px;
      -ms-flex: 280px;
          flex: 280px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding-left: 15px;
}

.step-content .tab-pane.show .note .card-header {
  background-color: #626262;
  color: #fff;
  padding: 0.85rem 1.25rem;
  font-size: 1rem;
}

.step-content .tab-pane.show .note .card-body {
  padding: 15px;
  word-break: break-word;
}

.step-content .tab-pane.show .note .card-body .title {
  font-weight: 400;
  font-size: .9rem;
}

.step-content .tab-pane.show .note .card-body .blockquote p {
  font-size: .8rem;
}

.step-content .tab-pane.show .note .card-body .blockquote .blockquote-footer {
  font-size: .7rem;
}

.step-content .tab-pane.show .accordion {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.step-content .tab-pane.show .step-process {
  -webkit-box-flex: 40px;
      -ms-flex: 40px;
          flex: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.step-content .tab-pane.show .step-process div[class^="step-process"] .circle {
  width: 20px;
  height: 20px;
  border-color: #9e9e9e !important;
  border-width: 3px !important;
  background-color: #e4e4e2;
  position: relative;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.step-content .tab-pane.show .step-process div[class^="step-process"] .step-line {
  width: 3px;
  height: 30px;
  background-color: #9e9e9e;
  position: relative;
  left: 8px;
  -webkit-transition: .2s;
  transition: .2s;
}

.step-content .tab-pane.show .step-process div[class^="step-process"]:last-child .step-line {
  display: none;
}

.step-content .tab-pane.show .step-process div[class^="step-process"].actived .circle {
  border-color: #ffc300 !important;
  background-color: transparent;
}

.step-content .tab-pane.show .step-process div[class^="step-process"].actived .circle:after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: #ffc300;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.step-content .tab-pane.show .step-process div[class^="step-process"].actived .step-line {
  background-color: #ffc300;
  height: 10px;
}

.step-content .tab-pane.show .step-process div[class^="step-process"].active .circle {
  border-color: #ffc300 !important;
  background-color: transparent;
}

.step-content .tab-pane.show .step-process div[class^="step-process"].active .circle:after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: #ffc300;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.step-content .tab-pane.show .step-process div[class^="step-process"].active .step-line {
  background-color: #ffc300;
  height: 150px;
}

.dropdown .dropdown-toggle {
  border-color: #ccc;
  background-color: #f7f8fa;
  color: #000;
}

.dropdown .dropdown-menu {
  padding: 0;
  border: none;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.dropdown .dropdown-menu .dropdown-item {
  cursor: pointer;
}

.dropdown .dropdown-menu .dropdown-item.active, .dropdown .dropdown-menu .dropdown-item:active {
  background-color: #f9f6ee;
  color: #ca2d37;
}

.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #f9f6ee;
  color: #ca2d37;
}

.signature-box .area {
  width: 100%;
  height: 100px;
  background-color: #fff;
  border: 3px solid #888;
}

.check-status {
  opacity: 0;
  -webkit-transition: .2s;
  transition: .2s;
}

.check-status.active {
  opacity: 1;
}

.error-info {
  display: none;
}

.btn-customer {
  width: 100px;
  background-color: #ccc;
}

.bgGary {
  background: -webkit-gradient(linear, left bottom, left top, from(#6d6d6d), to(#cecece));
  background: linear-gradient(0deg, #6d6d6d 0%, #cecece 100%);
}

.btnRed {
  background: -webkit-gradient(linear, left bottom, left top, from(#dd171e), to(#f85258));
  background: linear-gradient(0deg, #dd171e 0%, #f85258 100%);
}

.btnYellow {
  background: -webkit-gradient(linear, left bottom, left top, from(#ddac17), to(#f8bf52));
  background: linear-gradient(0deg, #ddac17 0%, #f8bf52 100%);
}

.accordion .card {
  border-radius: .25rem !important;
  overflow: hidden;
  border: none;
}

.accordion .card-header {
  padding: 0;
  background-color: transparent;
  border: none;
}

.accordion .card-body {
  background-color: #f3f3f3;
}

.accordion .card-body input,
.accordion .card-body textarea {
  border-color: transparent;
}

.accordion button.btn-link {
  color: #000;
  background-color: #cdcec4;
  text-align: left;
  width: 100%;
  border-radius: initial;
}

.accordion i.material-icons.arrow {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.accordion button.btn-link:not(.collapsed) {
  background-color: #626262;
  color: #fff;
}

.accordion button.btn-link:not(.collapsed) i.material-icons.arrow {
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
}

.accordion .btn-link:hover,
.accordion .btn-link:focus {
  text-decoration: none;
}

.font-40 {
  font-size: 40px;
}

i.material-icons.login {
  font-size: 18px;
  color: #d6c28a;
}

i.material-icons.search {
  font-size: 18px;
  opacity: 0.3;
}

i.material-icons.options {
  font-size: 20px;
  color: #999;
}

i.material-icons.add {
  font-size: 20px;
}

.table-customer tbody th {
  vertical-align: middle;
}

.table-customer tbody td:last-child {
  vertical-align: middle;
}

.table-customer tbody .optionRow {
  width: 50px;
}

.table-page .dropdown {
  width: 240px;
}

.table-page .search-group {
  width: 500px;
}

.table-content .content-box {
  background-color: #f3f3f3;
  padding: 30px 15px 80px;
  min-height: calc( 100vh - 60px - 100px - 48px - 5px);
}

.table {
  font-size: 12px;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.table thead {
  background-color: #fff;
}

.table thead th {
  position: relative;
}

.table thead th .border-line {
  display: block;
  width: 1px;
  height: 45%;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.3);
}

.table tbody tr.even {
  background-color: #fff;
}

.table tbody tr.odd {
  background-color: #f1fafe;
}

.table tbody td:focus {
  outline: none !important;
}

.bottom-page .pagination .page-item.active .page-link {
  background-color: #fff;
  border-color: #dee2e6;
  color: #ea1d2a;
}

.bottom-page .pagination .page-item .page-link {
  padding: .25rem .5rem;
  font-size: 12px;
  color: #999;
}

footer {
  background-color: #626262;
  color: #fff;
  font-size: 12px;
  padding: 15px 0;
  height: 48px;
}

@-webkit-keyframes navBg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes navBg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes signInAni {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes signInAni {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes signOutAni {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes signOutAni {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

label.form-check-label,
label.custom-control-label {
  font-size: 14px;
}

input::-webkit-input-placeholder {
  font-size: 14px;
}

input:-ms-input-placeholder {
  font-size: 14px;
}

input::-ms-input-placeholder {
  font-size: 14px;
}

input::placeholder {
  font-size: 14px;
}

.select2-selection__rendered,
.select2-selection--multiple,
input.select2-search__field {
  background-color: #f7f8fa;
}

.select2-selection__rendered li:first-child.select2-search--inline {
  width: 100%;
}

.select2-selection__rendered li:first-child input.select2-search__field {
  width: 100% !important;
}

.select2.select2-container.select2-container--bootstrap4 {
  width: 100% !important;
}

.select2-dropdown {
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
}

.select2-dropdown ul.select2-results__options li[aria-selected=true],
.select2-dropdown ul.select2-results__options li.select2-results__option.select2-results__option--highlighted {
  background-color: #f9f6ee !important;
  color: #ca2d37 !important;
}

.select2-dropdown ul.select2-results__options li[aria-disabled=true] {
  color: #ccc;
}

.customer-swal {
  width: 300px;
  overflow: hidden;
}

.customer-swal .swal-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 18px;
  color: #fff;
  letter-spacing: 1px;
  background-color: #d6c28a;
  padding: 13px 16px;
}

.customer-swal .swal-text {
  font-size: 14px;
  text-align: center;
}

.customer-swal .swal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.customer-swal .swal-footer .swal-button--confirm,
.customer-swal .swal-footer .swal-button--cancel {
  background: -webkit-gradient(linear, left bottom, left top, from(#dd171e), to(#f85258));
  background: linear-gradient(0deg, #dd171e 0%, #f85258 100%);
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
  width: 80px;
}

.customer-swal .swal-footer .swal-button--cancel {
  color: #fff;
  background: -webkit-gradient(linear, left bottom, left top, from(#6d6d6d), to(#cecece));
  background: linear-gradient(0deg, #6d6d6d 0%, #cecece 100%);
}

.step-menu-iwindow {
  margin-top: 5px;
  height: 100px;
  background-color: #e5e5e5;
  position: relative;
}

.step-menu-iwindow .container {
  position: relative;
}

.step-menu-iwindow .nav .nav-item:nth-of-type(1) {
  margin: auto;
}

.step-menu-iwindow .nav .nav-item:nth-of-type(1) .menuList img {
  width: 30px;
}

.step-menu-iwindow .nav .nav-item:not(:first-child) {
  position: relative;
}

.step-menu-iwindow .nav .nav-item a {
  color: #666;
  border-radius: 0;
  border: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.step-menu-iwindow .nav .nav-item a.active {
  -webkit-box-shadow: 0px 5px #ffc300 inset;
          box-shadow: 0px 5px #ffc300 inset;
  color: #ea1d2a;
}

.step-menu-iwindow .nav .nav-item a.nav-link:not(.menuList) {
  height: 100px;
}

.step-menu-iwindow .nav .nav-item a.nav-link:not(.menuList) .step-area {
  width: 120px;
}

.step-menu-iwindow .nav .nav-item a.nav-link:not(.menuList) svg {
  width: 20px;
  margin-right: 5px;
}

.step-menu-iwindow .nav .nav-item a.nav-link:not(.menuList) .step-title {
  font-size: 18px;
}

.step-menu-iwindow .nav .nav-item a.nav-link:not(.menuList) .step-sub-title {
  font-size: 12px;
}

.step-menu-iwindow .nav .nav-item a.nav-link:not(.menuList):hover {
  -webkit-box-shadow: 0px 5px #ffc300 inset;
          box-shadow: 0px 5px #ffc300 inset;
  color: #ea1d2a;
  background-color: #fff;
}

.step-content-iwindow {
  height: auto;
  min-height: calc( 100vh - 60px - 100px - 48px - 5px);
  padding-bottom: 30px;
}

.step-content-iwindow .nav-tabs-level-2 li a {
  color: #fff;
  background-color: #6c757d;
}

.step-content-iwindow .nav-tabs-level-2 li a.active {
  background-color: #ffc300;
}

.step-content-iwindow .nav-tabs-level-2 li:not(:last-child) {
  margin-right: 5px;
}

.step-area-salesCheck {
  width: 185px;
}

#initPremiumYesShow,
#supPremiumSelectSelf,
#occupationRadioNoShow,
#checkApprovalSecondShow {
  display: none;
}

.cus-list-type .list-width {
  -webkit-box-flex: 30px;
      -ms-flex: 30px;
          flex: 30px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
